<h1>Create new user :) </h1>

<form action="<%= users_url %>" method="post">
    <label> Username:
    <input type="text" name="user[user_name]" value="<%= @user.user_name %>" >
    </label>
    <br>
    <br>

    <label> Password:
    <input type="password" name="user[password]" value="<%= @user.password %>" >
    </label>
    <br>
    <br>

    <input type="submit" value="Create User">





</form>